# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# test artifacts
*.o
tests/cpp_project/test_program_cpp
tests/c_project/test_program
