# This file is *not* meant to cover or endorse the use of GitHub Actions, but rather to
# help test this project

name: Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12"]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install gdb
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: gdb

      - name: Build gdb2json local package to a current dir
        # gdb's python interpreter is not the same as the one running on the machine
        # letting pip chose the install location will put it where it's unreachable
        # by gdb's python interpreter. We need to install it to the current dir.
        # and set PYTHONPATH to the current dir
        run: |
          pip install . --target $(pwd)
          echo PYTHONPATH=$(pwd) >> $GITHUB_ENV

      - name: Test
        run: bash tests/test.sh test
